div.menu-language-switcher-container{
	display: block;
	padding-left: 100px;
	width: 100%;
	height: 83px;
	background-color: gray;
	position: relative;
}
#menu-language-switcher ul {
	margin: 50px;
}
#menu-language-switcher li {
	background-color: #25a8e0;
	display: inline-block;
	margin-left: 0.0125em;
	width: 2.5em;
	height: 1.5em;
	line-height: 2.5em;
	text-align: center;
	z-index: 0;
}
li {
	font-family: "Open Sans", arial, sans-serif;
}
#menu-language-toggle-button{
	background-color: orange;
	z-index: 1;
}

.menu-language-switcher-container{
    position: relative;
}
