.animate-menu__container {
    position: relative;
}
.animate-menu__container li:first-of-type {
	background-image: url('images/globe.png');
	background-size: 100%;
    cursor: pointer;
}
.animate-menu__container li {
    background-color: blue;
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    text-align: center;
}